<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568631935740-7o8e2q08jd1t0cid7mb1a4rcbfk37ef0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568631935740-7o8e2q08jd1t0cid7mb1a4rcbfk37ef0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>568631935740-illvrjptartehs504al03uvai5uq1bff.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSDTH6ywiUKYeUIniHYeKUeYTPssFa-yI</string>
	<key>GCM_SENDER_ID</key>
	<string>568631935740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.ehr</string>
	<key>PROJECT_ID</key>
	<string>ehr-app-673e6</string>
	<key>STORAGE_BUCKET</key>
	<string>ehr-app-673e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568631935740:ios:46c496dcf95e1fe1384d79</string>
</dict>
</plist>